*{
    font-family: Arial, sans-serif;
    background-color: rgb(220, 210, 255);
}

#calculator {
    background-color: white;
    width: 300px;
    height: 380px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#heading {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#display {
    font-size: 25px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: rgb(220, 210, 255);
    /* background-color: #e0e0e0; */
    margin: 5px; 
}
.inputbutten {
    background-color: white;
    margin: auto;
    width: 250px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-weight: 900;
}